* {
    padding: 0;
    margin: 0;
    background-color: darkgreen;
    font-family: "Roboto", sans-serif;

}
.top-header{
    padding-top: 10%;
    font-size: large;
    position: relative ;
    color: #ffffff;
    font: 900;
    justify-content: center;
    text-align: center;
}
.game-area{
    width: 50%;
    min-width: 500px;
    background-color:darkolivegreen ;
    color: darkolivegreen;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 30%;
}
.scores{
    color: #ffffff;
    font-weight: 600;
}

